<apex:page showHeader="true" sidebar="true" Controller="CommunityFinalAgreementController">

    <style type="text/css">
        table.apexir_WORKSHEET_DATA td {white-space: nowrap;}
    </style>

     <!-- Author Przemysław Tustanowski --> 
<!--     <apex:form >
        <apex:repeat value="{!finalAgreements}" var="fAgr">
        <apex:pageBlock > -->
            <!-- Agreement info -->
                <!-- <apex:pageBlockSection title="{!$Label.Agreement} - {!fAgr.Name}" columns="1" > -->
                                                                     

<!--                     <apex:pageBlockSection title="{!$Label.AgreementDetails}" columns="2">

                        <apex:outputField value="{!fAgr.Contact__c}"/>
                        <apex:outputField value="{!fAgr.Status__c}"/>
                        <apex:outputField value="{!fAgr.OwnerId}"/>
                        <apex:outputField value="{!fAgr.Bank_Account_Rent__c}"/>
                        <apex:outputField value="{!fAgr.Resource_Flat_Rent__c}"/>
                        <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                        <apex:outputPanel rendered="{!if(fAgr.Notary__c!= null, true,false)}">
                            <apex:outputField value="{!fAgr.Notary__c}"/>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!if(fAgr.Notary__c!= null, false, true)}">
                            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!if(fAgr.Developer_Representative__c!= null, true,false)}">
                            <apex:outputField value="{!fAgr.Developer_Representative__c}"/>
                        </apex:outputPanel> 
                        <apex:outputPanel rendered="{!if(fAgr.Developer_Representative__c!= null, false, true)}">
                            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                        </apex:outputPanel> 
                        <apex:outputField value="{!fAgr.Type_of_Contract__c}"/>
                        <apex:outputField value="{!fAgr.Agreement_Value__c}"/>
                        <apex:outputField value="{!fAgr.Deposit__c}"/>
                        <apex:outputField value="{!fAgr.Deposit_Paid__c}"/>
                        <apex:outputField value="{!fAgr.Date_of_signing__c}"/>
                        <apex:outputField value="{!fAgr.date_of_agreement_expiration__c}"/> 
                        <apex:outputField value="{!fAgr.Date_of_Flat_transmission__c}"/>
                    </apex:pageBlockSection> -->
                <!-- Meters -->
<!--                     <apex:pageBlockSection title="{!$Label.Meter}" columns="1"  id="meter-section"> 
                        <apex:variable var="firstElement" value="{!wrap.metersFirstElementsMap[fAgr]}" id="first-element"/>                     
                        <apex:pageBlock title="{!$Label.Meter}">
                            <apex:pageBlockTable value="{!wrap.metersMap[fAgr]}" var="mtrs" rows="5" first="{!firstElement}" id="meter-table" rendered="{!IF(wrap.metersRenderMap[fAgr] = true, true, false)}" >
                                <apex:column >
                                <apex:inputField value="{!mtrs.HiddenSelected__c}" />
                                </apex:column>
                                <apex:column value="{!mtrs.Name}"/> 
                                <apex:column value="{!mtrs.Meters_Type__c}"/> 
                                <apex:column value="{!mtrs.Unit__c}"/> 
                                <apex:column value="{!mtrs.Tariff_ID__r.Name}"/>
                                <apex:column value="{!mtrs.Counter__c}"/>
                                <apex:column value="{!mtrs.Meter_Diffeence__c}"/>
                                <apex:column value="{!mtrs.Meter_Tariff__c}"/>  
                                <apex:column value="{!mtrs.Meter_Bill__c}"/>        
                                <apex:column value="{!mtrs.Period__c}"/>                    
                                <apex:column value="{!mtrs.Meters_Read_Date__c}"/>  
                                <apex:column value="{!mtrs.Reading_Billed__c}"/>
                            </apex:pageBlockTable> 

                            <apex:pageBlockButtons location="top">
                                <apex:commandButton action="{!newReading}" value="{!$Label.NewReading}" reRender="all">
                                    <apex:param name="agreement-Id-new-reading" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>  
                                <apex:commandButton value="<" action="{!decrementMetersFirstElement}" reRender="meter-table">
                                    <apex:param name="agreement-Id-decrement-meters" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                                 
                                <apex:commandButton value=">" action="{!incrementMetersFirstElement}" reRender="meter-table">
                                    <apex:param name="agreement-Id-increment-meters" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                               
                            </apex:pageBlockButtons>
                        </apex:pageBlock> 
                    </apex:pageBlockSection> -->
                <!-- Invoice -->
<!--                     <apex:pageBlockSection title="{!$Label.Invoices}" columns="1" rendered="{!IF(wrap.invoiceRenderMap[fAgr] = true, true, false)}" id="invoice-section"> 
                        <apex:variable var="firstElement" value="{!wrap.invoiceFirstElementsMap[fAgr]}" id="first-element"/>                        
                        <apex:pageBlock title="{!$Label.Invoice}">
                            <apex:pageBlockTable value="{!wrap.invoiceMap[fAgr]}" var="invcs" rows="5" first="{!firstElement}" id="invoice-table">
                            <apex:column >
                            <apex:outputLink value="/{!invcs.Id}">{!invcs.Name}</apex:outputLink>
                                    </apex:column> 
                                    <apex:column value="{!invcs.Status__c}"/>
                                    <apex:column value="{!invcs.Invoice_City__c}"/> 
                                    <apex:column value="{!invcs.Invoice_Date__c}"/>
                                    <apex:column value="{!invcs.Due_date__c}"/> 
                                    <apex:column value="{!invcs.Net_Value__c}"/>
                                    <apex:column value="{!invcs.VAT__c}"/>                  
                                    <apex:column value="{!invcs.VAT_Amount__c}"/>
                                    <apex:column value="{!invcs.Gross_Value__c}"/> 
                            </apex:pageBlockTable> 
                            <apex:pageBlockButtons location="top">
                                <apex:commandButton value="<" action="{!decrementInvoiceFirstElement}" reRender="invoice-table">
                                    <apex:param name="agreement-Id-decrement-invoice" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                                 
                                <apex:commandButton value=">" action="{!incrementInvoiceFirstElement}" reRender="invoice-table">
                                    <apex:param name="agreement-Id-increment-invoice" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                               
                            </apex:pageBlockButtons>
                        </apex:pageBlock> 
                    </apex:pageBlockSection> -->


                <!-- Payment -->
<!--                     <apex:pageBlockSection title="{!$Label.Payments}" columns="1" rendered="{!IF(wrap.paymentRenderMap[fAgr] = true, true, false)}" id="payment-section"> 
                        <apex:variable var="firstElement" value="{!wrap.paymentFirstElementsMap[fAgr]}" id="first-element"/>                        
                        <apex:pageBlock title="{!$Label.Payments}">
                            <apex:pageBlockTable value="{!wrap.paymentMap[fAgr]}" var="pay" rows="5" first="{!firstElement}" id="payment-table">
                            <apex:column >
                                    <apex:outputLink value="/{!pay.Id}">{!pay.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column value="{!pay.Period__c}"/> 
                                    <apex:column value="{!pay.Amount_to_pay__c}"/> 
                                    <apex:column value="{!pay.Invoice__c}"/>    
                                    <apex:column value="{!pay.Rental_Billed__c}"/>
                                    <apex:column value="{!pay.Paid__c}"/>
                                    <apex:column value="{!pay.Due_Date__c}"/> 
                                    <apex:column value="{!pay.Delay__c}"/> 
                            </apex:pageBlockTable> 

                            <apex:pageBlockButtons location="top">
                                <apex:commandButton value="<" action="{!decrementPaymentFirstElement}" reRender="payment-table">
                                    <apex:param name="agreement-Id-decrement-payment" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                                 
                                <apex:commandButton value=">" action="{!incrementPaymentFirstElement}" reRender="payment-table">
                                    <apex:param name="agreement-Id-increment-payment" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                               
                            </apex:pageBlockButtons>
                        </apex:pageBlock> 
                    </apex:pageBlockSection> -->

                <!-- Defects -->
<!--                     <apex:pageBlockSection title="{!$Label.Defects}" columns="1"  id="defect-section"> 
                        <apex:variable var="firstElement" value="{!wrap.defectsFirstElementsMap[fAgr]}" id="first-element"/>                        
                        <apex:pageBlock title="{!$Label.Defects}">
                            <apex:pageBlockTable value="{!wrap.defectsMap[fAgr]}" var="def" rows="5" first="{!firstElement}" rendered="{!IF(wrap.defectsRenderMap[fAgr] = true, true, false)}" id="defect-table">
                                <apex:column >
                                    <apex:outputLink value="/{!def.Id}">{!def.Name}</apex:outputLink>
                                    </apex:column> 
                                    <apex:column value="{!def.Status__c}"/> 
                                    <apex:column value="{!def.Scope_of_service__c}"/>
                                    <apex:column value="{!def.Assigned_To__c}"/> 
                                    <apex:column value="{!def.Due_Date__c}"/> 
                            </apex:pageBlockTable> 

                            <apex:pageBlockButtons location="top">
                                    <apex:commandButton action="{!newDefect}" value="{!$Label.NewDefect}" reRender="all">
                                        <apex:param name="AgreeID" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                    </apex:commandButton>  
                                <apex:commandButton value="<" action="{!decrementDefectsFirstElement}" reRender="defect-table">
                                    <apex:param name="agreement-Id-decrement-payment" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                                 
                                <apex:commandButton value=">" action="{!incrementDefectsFirstElement}" reRender="defect-table">
                                    <apex:param name="agreement-Id-increment-defect" value="{!fAgr.Id}" assignTo="{!agreementVf}"/>
                                </apex:commandButton>                               
                            </apex:pageBlockButtons>
                        </apex:pageBlock> 
                    </apex:pageBlockSection>                    
                </apex:pageBlockSection> -->
<!--         </apex:pageBlock>
        </apex:repeat>
    </apex:form> -->
</apex:page>