<apex:page showHeader="true" sidebar="true" Controller="CreateReadeController" tabStyle="Sales_Process__c" action="{!reload}">
 <!-- Author Przemysław Tustanowski --> 

<!-- <input id="hiddenElementId" type="hidden" />
<script type="text/javascript">
window.onload = setFocus
function setFocus() {
              document.getElementById("hiddenElementId").focus();
}
</script> -->

<!--     <apex:form id="form">
        <apex:pageMessages />
        <apex:outputPanel rendered="{!IF(renderCreation, true, false)}">
            <apex:pageBlock >
                <apex:pageBlockSection title="{!$Label.Select_Meter}" columns="2" >
                    <apex:selectList value="{!selectedMeter}" size="1" multiselect="false">
                        <b>{!$Label.Meter} &nbsp; &nbsp; </b>
                        <apex:selectOptions value="{!validMeters}" />
                        <apex:actionsupport event="onchange" action="{!addTariff}"/>
                    </apex:selectList>
                    <apex:inputField value="{!meterRead.Meters_Read_Date__c}"/>
                </apex:pageBlockSection>
                <div style="text-align: center;">
                    <apex:pageBlockButtons >
                        <apex:commandButton action="{!save}" value="{!IF(tariffRenderFlag, $Label.BtnSave, $Label.BtnNext)}" />
                        <apex:commandButton action="{!Cancel}" value="{!$Label.BtnCancel}"/>
                    </apex:pageBlockButtons>
                </div>          
                    <apex:outputPanel rendered="{!IF(tariffRenderFlag, true, false)}">
                        
                            <apex:pageBlockSection title="{!$Label.Add_values_meter}" >                         
                                <apex:selectList value="{!selectedTariff}" size="1" multiselect="false">
                                    <b>{!$Label.Tariff} &nbsp; &nbsp; </b>
                                    <apex:selectOptions value="{!validTariff}" />
                                    <apex:actionsupport event="onchange" action="{!unitShow}"/>
                                </apex:selectList>
                                <apex:inputField value="{!meterRead.Counter__c}"/>
                                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                                <apex:outputField value="{!meterRead.Unit__c}" />
                            </apex:pageBlockSection>                            
                        
                    </apex:outputPanel>
            </apex:pageBlock>
        </apex:outputPanel> 
        <apex:outputPanel rendered="{!IF(renderCreation, false, true)}">
            <apex:commandButton action="{!Cancel}" value="{!$Label.btnBack}"/>
        </apex:outputPanel>
    </apex:form> -->
</apex:page>