<apex:page showHeader="true" sidebar="true" recordSetVar="Payment" standardController="Payment__c" extensions="DeletePaymentScheduleInstallments">
    <style type="text/css">
        .message .messageText h4 {
            display: none;
        }

        #text-section {
            padding: 15px;
        }

        #buttonSection {
            padding: 15px;
        }

        .bPageBlock .pbTitle {
        vertical-align: middle;
        color: #222;
        font-size: 91%;
        width: 1%;
        margin: 0px;
        }

        .apexp .bPageBlock .pbHeader .btn {
            margin-left: 15px;
        }
    </style>

    <apex:form >    

        <apex:pagemessages />
        <apex:outputPanel rendered="{!!renderTable}">
            <div id="buttonSection">
                <apex:commandButton action="{!cancel}" value="{!$Label.btnBack}" id="theButton"/>
            </div>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!renderTable}">
            <apex:pageBlock >
                <apex:pageBlockButtons location="top" style="text-align: left;">
                    <apex:outputText >{!$Label.DeleteFollowingInstallments}</apex:outputText> 
                    <apex:commandButton action="{!cancel}" value="{!$Label.BtnNo}" />
                    <apex:commandButton action="{!yes}" value="{!$Label.btnYes}" />
                </apex:pageBlockButtons>
                <apex:pageBlockTable value="{!selectedInstallments}" var="si"> 
                    <apex:column value="{!si.Name}"/>
                    <apex:column value="{!si.of_contract_value__c}"/>
                    <apex:column value="{!si.Amount_to_pay__c}"/>         
                </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:outputPanel>

    </apex:form> 
</apex:page>