<apex:page showHeader="true" sidebar="true" recordSetVar="sales_process" standardController="Sales_Process__c" extensions="DeleteCustomersController" action="{!reload}" tabStyle="Sales_Process__c">

    <style type="text/css">
        .message .messageText h4 {
            display: none;
        }

        #text-section {
            padding: 15px;
        }

        #buttonSection {
            padding: 15px;
        }

        .bPageBlock .pbTitle {
        vertical-align: middle;
        color: #222;
        font-size: 91%;
        width: 1%;
        margin: 0px;
        }

        .apexp .bPageBlock .pbHeader .btn {
            margin-left: 15px;
        }
    </style>

    <apex:form >    

        <apex:pagemessages />
        <apex:outputPanel rendered="{!!renderTable}">
            <div id="buttonSection">
                <apex:commandButton action="{!cancel}" value="{!$Label.btnBack}" id="theButton"/>
            </div>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!renderTable}">
            <apex:pageBlock >
                <apex:pageBlockButtons location="top" style="text-align: left;">
                    <apex:outputText >{!$Label.DeleteFollowingCustomers}</apex:outputText> 
                    <apex:commandButton action="{!no}" value="{!$Label.BtnNo}" />
                    <apex:commandButton action="{!yes}" value="{!$Label.btnYes}" />
                </apex:pageBlockButtons>
                <apex:pageBlockTable value="{!selectedCustomers}" var="sc"> 
                    <apex:column value="{!sc.Name}"/>
                    <apex:column value="{!sc.Account_from_Customer_Group__c}"/>
                    <apex:column value="{!sc.Share_formula_detail__c}"/>
                    <apex:column value="{!sc.Share_Type__c}"/>         
                </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:outputPanel>

    </apex:form>        
</apex:page>