<apex:page showHeader="true" sidebar="true" standardController="Extension__c" extensions="ExtensionNewButtonOverride" action="{!reload}">
<!-- <html>
    <head>  
        <apex:includeScript value="{!$Resource.jQuery}"/>
        <apex:includeScript value="{!URLFOR($Resource.jQueryThumbnail, '/nailthumb/jquery.nailthumb.1.1.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.jQuery_UI, '/jquery-ui-1.11.3.custom/jquery-ui.min.js')}"/>
        <script src="/soap/ajax/20.0/connection.js" type="text/javascript"></script>
        <script src="/soap/ajax/22.0/apex.js" type="text/javascript"></script>

        <script type='text/javascript'>
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            sforce.connection.defaultNamespace = '';
            var fieldIDs = [];
            j$ = jQuery.noConflict();
            function setHidden() {
                j$("[id$='hiddenNameId']").val(fieldIDs[0].toString());
                reloadMethod();
            }
            j$(document).ready(function(){
                var reqFields = ["Name"];
                var prefix = sforce.apex.execute('CommonUtility', 'getExtensionPrefix', {});
                var labelFields = sforce.apex.execute("TranslationLabel", "getLabelForField", {objectName: "Extension__c", fields: reqFields});
                j$.get("/" + prefix + "/e?nooverride=1&RecordType=" + '{!userRecordTypeId}', function(data) {
                    console.log(data);
                    j$.each(labelFields, function(index, value) {
                        fieldIDs.push(
                            j$(data).find("label").filter(
                                function() {
                                    if($(this).text() === value || $(this).text() === "*"+value){
                                    return true;
                                    }
                                }
                            ).attr('for')
                        );
                    });
                });
                console.log(fieldIDs[0]);
                setHidden();
            });
        </script>
    </head>
    <body>
        <apex:form>
            <apex:inputHidden value="{!nameId}" id="hiddenNameId"/>
            <apex:actionFunction name="reloadMethod" action="{!reload}"/>  
        </apex:form>
    </body>
</html> -->
</apex:page>