<apex:page showHeader="true" sidebar="true" controller="ImportDataController" id="importDataPage">

 <!-- Author: Wojciech Słodziak -->
    <apex:includeScript value="{!$Resource.jQuery}"/>
    <c:AjaxLoader /> 
    <script type="text/javascript" language="javascript">
        if(jQuery) {
            jQuery.noConflict();
        }
    </script>
    <style>
        .tab {
            font-size: 1em;
            padding: 6px 7px;
            font-weight: bold;
            cursor: pointer;
        }
        .tab:active {
            text-decoration: underline;
        }
        .inactiveTab {
            background-color: #7eb47e !important;
            background-image: none !important;
            color: white !important;
        }
    </style>

    <apex:tabPanel switchType="server"  selectedTab="{!selectedTab}" id="tabPanel"  tabClass="tab" inactiveTabClass="inactiveTab">
        <apex:tab label="{!$Label.ResMassImport}" name="tab1" id="tabOne">
            <apex:include pageName="MassImport" />
        </apex:tab>
        <apex:tab label="{!$Label.ImportResources}" name="tab2" id="tabTwo">
            <apex:include pageName="ImportResources" />
        </apex:tab>
        <apex:tab label="{!$Label.ImportPayments}" name="tab3" id="tabThree">
            <apex:include pageName="ImportPayments" />
        </apex:tab>
        <apex:tab label="{!$Label.ImportContractors}" name="tab4" id="tabFour">
            <apex:include pageName="ImportContractors" />
        </apex:tab>
    </apex:tabPanel>
</apex:page>