<apex:page sidebar="false" standardController="Contact" extensions="IntegrationContactsController">
    <style>
        div#outerDiv {
            overflow: hidden; 
        }
         #navigation div#links a {
            font-weight: bold;
            font-size: 1.3em;
            text-decoration: none;
        }
        #navigation {
            overflow: hidden;
            padding: 5px;
        }
        #navigation div#links {
            float: right;
        }
        #navigation div#groupInfo {
            float: left;
        }
        .wall {
            position: relative;
            top: -2px;
            margin: 0px 5px 0px 4px;
        }
        .emptySpace {
            margin: 0px 2px;
        }
        .inactive {
            color: lightgray !important;
            pointer-events: none;
            cursor: default;
        }
        .pbTitle, .pbButton {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
        }
        .noRecordsText {
            padding: 11px 0 1px 4px;
            display: block;
        }
    </style>
    
    <apex:includeScript value="{!$Resource.jQuery}"/>
    <c:AjaxLoader />

    <div id="outerDiv"> 
        <div id="usersDiv">
            <apex:form >
                <apex:pageBlock id="pb">

                    <apex:pageBlockTable value="{!contacts}" var="item" styleClass="margin-top: 10px;">
                        <apex:facet name="header">
                            <apex:outputPanel layout="block" style="text-align:center">
                                {!$Label.NewContactsIntegration}
                            </apex:outputPanel>
                        </apex:facet>
                        <apex:column headerValue="{!$ObjectType.Contact.fields.Name.label}">
                            <apex:outputLink target="_blank" value="{!URLFOR('/'+item.Id)}" >{!item.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!item.Email}"/>
                        <apex:column value="{!item.Phone}"/>
                        <apex:column value="{!item.MobilePhone}"/>
                        <apex:column value="{!item.Source__c}"/>
                        <apex:column value="{!item.CreatedDate}"/>
                    </apex:pageBlockTable>
                    <apex:outputText rendered="{!integrationContacts.size = 0}" styleClass="noRecordsText" value="{!$Label.NoRecordsToDisplay}"/>

                    <div id="navigation">
                        <div id="groupInfo">
                            <apex:outputText value="{!minIndex}-{!maxIndex} {!$Label.Of} {!integrationContacts.size}" />
                        </div>
                        <div id="links">
                            <apex:commandLink styleClass="{!previousClass}" action="{!firstGroup}" reRender="pb" value="<<" status="ajaxStatus"/>
                            <span class="emptySpace" />
                            <apex:commandLink styleClass="{!previousClass}" action="{!previousGroup}" reRender="pb" value="<" status="ajaxStatus"/>
                            <span class="wall">|</span>
                            <apex:commandLink styleClass="{!nextClass}" action="{!nextGroup}" reRender="pb" value=">" status="ajaxStatus"/>
                            <span class="emptySpace" />
                            <apex:commandLink styleClass="{!nextClass}" action="{!lastGroup}" reRender="pb" value=">>" status="ajaxStatus"/>
                        </div>
                    </div>
                </apex:pageBlock>
            </apex:form>
        </div>
        
    </div>
</apex:page>