<apex:page showHeader="true" sidebar="true" controller="InvoiceMeterController" cache="false" applyBodyTag="false" tabStyle="Invoice__c" >
    
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <style type="text/css">
            
            @page{ 
                margin: 1cm 2cm 1cm 2cm;
                size: A4 portrait;
            }

        body { 
            font-family: 'Arial Unicode MS'; 
            font-size: 12px; 
            line-height: 1.5em;
            color: black;
        }

        .input {
            padding-top: 10px;
        }

        #all{
            background-color: white;
            border: 2px solid;
            border-radius: 2px;
            box-shadow: 10px 10px 5px #888888;
            margin: 10px 30px 30px;
        }

        #invoiceNumber {
            padding: 15px;
            width: 45%
        }

        #invoiceNumber td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #banking {
            padding: 15px;
            width: 100%;
        }

        #banking td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #items-table {
            padding: 15px;
            width: 100%;
        }

        #items-table th {
            background-color: #f2f2f2;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #items-table td {
            text-align: center;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        .message .messageText h4 {
            display: none;
        }

        #buttonSection {
            padding: 15px;
        }


        .bPageBlock .requiredInput .requiredBlock {
            background-color: #c00;
            bottom: 1px;
            left: 0.5em;
            position: absolute;
            top: 1px;
            width: 3px;
        }

        </style>

<!--         <script type="text/javascript">
            (function() {
            if (location.href.match(/inline=1/)) window.top.location=location.href.replace(/inline=1/, '');

            })();
        </script> -->

       <!--  <apex:form id="form">
            <apex:pageMessages />
            <apex:pageBlock >

             

            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                                <apex:selectList value="{!selectedVAT}" size="1" multiselect="false" style="max-width:70px;">
                                    <apex:selectOptions value="{!SelectVAT}" />
                                    <apex:actionsupport event="onchange" rerender="form" action="{!updateAmounts}"/>
                                </apex:selectList>%   VAT           </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:commandButton action="{!upsertInvoice}" value="{!$Label.OfferPDFQuote_Button_SavePDF}" id="pdf"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:commandButton action="{!Cancel}" value="{!$Label.BtnCancel}" id="cancel"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>

                <div id="all">
                    <div style="display: inline-block; width: 100%;">
                        <table id="invoiceNumber" style="border-spacing: 0px; float: left;">

                            <tr>
                                <td style="background-color: #d9d9d9; text-transform: uppercase; font-family: sans-serif; font-size: 20px;">
                                    {!$Label.Invoice}
                                </td>
                                <td style="border-left: 0px;">
                                    <apex:outputText style="color:lightgrey;" value="{!$Label.AutoNumber}" />
                                </td>
                            </tr>
                        </table>

                        <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                            <tr>
                                 <td style="display:block;">
                                   <apex:inputField value="{!newInvToIns.Invoice_City__c}" html-placeholder="{!$Label.City}" style="height:1.2em; padding-bottom:0.1em; position:relative; top:4px;" />
                                   <apex:outputText value=", " />
                                   <apex:inputField value="{!newInvToIns.Invoice_Date__c}" html-placeholder="{!$Label.Date}" style="height:1.4em;" />
                                </td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td style="border-top: 0px;">
                                    {!$Label.CityAndDate}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="display: inline-block; width: 100%;">
                        <table id="invoiceNumber" style="border-spacing: 0px; float: left;">
                            <tr>
                                <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                                    {!$Label.Seller}
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 0px;">
                                    <strong>
                                        {!landlord[0].Name}
                                    </strong><br/>
                                     <apex:outputText rendered="{!landlord[0].BillingStreet != null}">
                                        {!landlord[0].BillingStreet}
                                    </apex:outputText><br/>
                                    <apex:outputText rendered="{!landlord[0].BillingPostalCode != null}">
                                        {!landlord[0].BillingPostalCode},
                                    </apex:outputText> 
                                    <apex:outputText rendered="{!landlord[0].BillingCountry != null}">
                                        {!landlord[0].BillingCountry}, 
                                    </apex:outputText> 
                                    <apex:outputText rendered="{!landlord[0].BillingCity != null}">
                                        {!landlord[0].BillingCity}<br/>
                                    </apex:outputText> 
                                     <apex:outputText rendered="{!finAgr[0].Bank_Account_Rent__c != null}">
                                        {!finAgr[0].Bank_Account_Rent__r.Name}<br/>
                                    </apex:outputText> 
                                </td>
                            </tr>
                        </table>

                        <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                            <tr>
                                <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                                    {!$Label.Buyer}
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 0px;">
                                    <strong>
                                        {!customerContact[0].Name}
                                    </strong><br/>
                                    <apex:outputText rendered="{!customerContact[0].MailingStreet != null}">
                                        {!customerContact[0].MailingStreet}<br/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!customerContact[0].MailingPostalCode != null}">
                                        {!customerContact[0].MailingPostalCode},
                                    </apex:outputText> 
                                    <apex:outputText rendered="{!customerContact[0].MailingCity != null}">
                                        {!customerContact[0].MailingCity},
                                    </apex:outputText>
                                    <apex:outputText rendered="{!customerContact[0].MailingCountry != null}">  
                                        {!customerContact[0].MailingCountry}<br/>
                                    </apex:outputText> 
                                </td>
                            </tr>
                        </table>
                    </div>

                        <div style="overflow:hidden;">
                    <table id="items-table" style="border-spacing: 0px;">
                        <thead>
                            <th>
                                Nr
                            </th>
                            <th style="border-left: 0px;">
                                {!$Label.TableMeterID}
                            </th>  
                            <th style="border-left: 0px;">
                                {!$Label.TableMeterType}
                            </th>
                            <th style="border-left: 0px;">
                                {!$Label.TableLastRead}
                            </th>   
                            <th style="border-left: 0px;">
                                {!$Label.TableReadDate}
                            </th>           
                            <th style="border-left: 0px;">
                                {!$Label.TableDifference}
                            </th> 

                            <th style="border-left: 0px;">
                                {!$Label.TableRate}
                            </th> 
                            <th style="border-left: 0px;">
                                {!$Label.TableBill}
                            </th> 
                            <th style="border-left: 0px;">
                                {!$ObjectType.Invoice__c.fields.VAT__c.label}
                            </th> 
                            <th style="border-left: 0px;">
                                {!$ObjectType.Invoice__c.fields.VAT_Amount__c.label}
                            </th>                     
                            <th style="border-left: 0px;">
                                {!$ObjectType.Invoice__c.fields.Gross_Value__c.label}
                            </th>                     
                        </thead>
                        <tr>
                            <td style="border-left: 1px solid black;">
                                    <apex:variable value="{!1}" var="rowNum"/>
                                <apex:repeat value="{!relatedMeterReads}" var="item">  
                                  <apex:outputText value="{!FLOOR(rowNum)}"/> <br/>
                                  <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                </apex:repeat>  
                            </td>
                             <td>
                             <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                {!mtr.Meter_ID__c}<br/>
                                </apex:repeat>
                            </td> 
                             <td>
                             <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                {!mtr.Meters_Type__c}<br/>
                                </apex:repeat>
                            </td>
                            <td>
                            <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.Last_Reading__c}" /><br/> 
                                </apex:repeat>                      
                            </td>
                             <td>
                             <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.Meters_Read_Date__c}" /> <br/>  
                                </apex:repeat>                  
                            </td>
                            <td>
                            <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.Meter_Diffeence__c}" /> 

                                {!mtr.Unit__c}<br/>
                                </apex:repeat>
                            </td>
                            <td>
                                <apex:repeat value="{!relatedMeterReads}" var="tf">
                                        <apex:outputField value="{!tf.Tariff_ID__r.Meter_Tariff__c}" />
                                         <apex:outputText value="{!JSENCODE(isoCodeEncoded)}" escape="false"/><br/>
                                </apex:repeat> 
                            </td>
                            <td>
                            <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.Meter_Bill__c}" /><br/>
                                </apex:repeat>
                            </td>
                            <td>            
                                   <apex:repeat value="{!relatedMeterReads}" var="mtr">
                            {!selectedVAT} %<br/>
                             </apex:repeat>
                            </td>
                            <td>
                            <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.VAT_Amount__c}" /><br/>
                                </apex:repeat>
                            </td>
                            <td>
                            <apex:repeat value="{!relatedMeterReads}" var="mtr">
                                <apex:outputField value="{!mtr.Gross_Value__c}" /><br/>
                                </apex:repeat>
                            </td>
                            
                                <thead>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border: 0px; background-color:white;">
                                       
                                    </th>
                                    <th style="border-left:0px; border-top:0px; border-bottom:0px; background-color:white;">
                                       
                                    </th>

                                    <th style="border-left: 0px; border-top:0px;">
                                        {!$Label.EntireAmount}
                                    </th>              
                                    <th style="border-left: 0px; border-top:0px;">
                                        x
                                    </th> 
                                    <td style="border-left: 0px; border-top:0px; background-color:white;">
                                        <apex:outputText value="{0, number, ###,##0.00}">
                                            <apex:param value="{!invVatAmount}" />
                                        </apex:outputText>
                                        <apex:outputText value="{!JSENCODE(isoCodeEncoded)}" escape="false"/>
                                    </td>                     
                                    <td style="border-left: 0px; border-top:0px; background-color:white;">
                                        <apex:outputText value="{0, number, ###,##0.00}">
                                            <apex:param value="{!invGrossVal}"/>
                                        </apex:outputText>
                                        <apex:outputText value="{!JSENCODE(isoCodeEncoded)}" escape="false"/>
                                    </td>                     
                                </thead>
                        </tr>
                    </table>
                    <table id="invoiceNumber" style="border-spacing: 0px; float: left; width: 35%">
                        <tr>
                                <td>
                                    {!$Label.AmountToPay}: 
                                    <apex:outputText value="{0, number, ###,##0.00}">
                                        <apex:param value="{!invGrossVal}"/>
                                    </apex:outputText>
                                    <apex:outputText value="{!JSENCODE(isoCodeEncoded)}" escape="false"/>
                                    <br/>
                                    {!$Label.DueDate}: 
                                    <apex:inputField value="{!newInvToIns.Due_date__c}" html-placeholder="{!$Label.Date}" style="height:1.4em;" />
                                </td>
                        </tr>
                    </table>
                </div>
                <div style="display: inline-block; width: 100%; overflow:hidden;">
                    <table id="invoiceNumber" style="border-spacing: 0px; float: left;">
                        <tr>
                            <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                                {!$Label.InvoiceIssuedBy}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 0px;">
                            <br/>
                            <br/>
                            </td>
                        </tr>
                    </table>

                    <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                        <tr>
                            <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                                {!$Label.InvoiceReceivedBy}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 0px;">
                                <br/>
                                <br/>
                            </td>
                        </tr>
                    </table>
                </div>
                    
                </div>
            </apex:pageBlock>
        </apex:form> -->
</apex:page>