<apex:page showHeader="true" sidebar="true">

<!-- 
<apex:page showHeader="true" sidebar="true" cache="false" applyBodyTag="false" tabStyle="Invoice__c"  recordSetVar="payments" standardController="Payment__c" extensions="InvoiceRentalController" >
       <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <style type="text/css">
            
            @page{ 
                margin: 1cm 2cm 1cm 2cm;
                size: A4 portrait;
            }

        body { 
            font-family: 'Arial Unicode MS'; 
            font-size: 12px; 
            line-height: 1.5em;
            color: black;
        }

        .input {
            padding-top: 10px;
        }

        #all{
            background-color: white;
            border: 2px solid;
            border-radius: 2px;
            box-shadow: 10px 10px 5px #888888;
            margin: 10px 30px 30px;
        }

        #invoiceNumber {
            padding: 15px;
            width: 45%
        }

        #invoiceNumber td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #banking {
            padding: 15px;
            width: 100%;
        }

        #banking td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #items-table {
            padding: 15px;
            width: 100%;
        }

        #items-table th {
            background-color: #f2f2f2;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        #items-table td {
            text-align: center;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 5px;
            line-height: 150%;
            vertical-align: middle;
        }

        .message .messageText h4 {
            display: none;
        }

        #buttonSection {
            padding: 15px;
        }


        .bPageBlock .requiredInput .requiredBlock {
            background-color: #c00;
            bottom: 1px;
           /* left: 0.5em;*/
            position: absolute;
            top: 1px;
            width: 3px;
        }

        </style>
 -->
<!--         <script type="text/javascript">
            (function() {
            if (location.href.match(/inline=1/)) window.top.location=location.href.replace(/inline=1/, '');

            })();
        </script> 

    </head>-->
<!--     <apex:form id="form">
    <apex:pagemessages />
    <apex:outputPanel rendered="{!!renderInvoice}">
        <div id="buttonSection">
            <apex:commandButton action="{!cancel}" value="{!$Label.btnBack}" id="theButton"/>
        </div>
    </apex:outputPanel>

    <apex:pageBlock rendered="{!renderInvoice}">
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$ObjectType.Invoice__c.fields.VAT__c.Label}" for="invoiceVatInput"/>
            <apex:inputField required="true" id="invoiceVatInput" value="{!invoice.VAT__c}" >
                <apex:actionSupport event="onchange" rerender="form" action="{!refreshDataAndObj}"/>
            </apex:inputField>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:commandButton action="{!insertInvoice}" value="{!$Label.OfferPDFQuote_Button_SavePDF}" id="pdf"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:commandButton action="{!Cancel}" value="{!$Label.BtnCancel}" id="cancel"/>
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    <body>
        <div id="all">
            <div style="display: inline-block; width: 100%;">
                <table id="invoiceNumber" style="border-spacing: 0px; float: left;">
                    <tr>
                        <td style="background-color: #d9d9d9; text-transform: uppercase; font-family: sans-serif; font-size: 20px;">
                            {!$Label.Invoice}
                        </td>
                        <td style="border-left: 0px;">
                          <apex:outputText style="color:lightgrey;" value="{!$Label.AutoNumber}" />
                        </td>
                    </tr>
                </table>

                <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                    <tr>
                        <td style="display:block;">
                            <apex:inputField value="{!invoice.Invoice_City__c}" html-placeholder="{!$Label.City}" style="height:1.2em; padding-bottom:0.1em; position:relative; top:4px;" />
                            <apex:outputText value=", " />
                            <apex:inputField value="{!invoice.Invoice_Date__c}" html-placeholder="{!$Label.Date}" style="height:1.4em;" />
                        </td>
                    </tr>
                    <tr style="background-color: #f2f2f2;">
                        <td style="border-top: 0px;">
                            {!$Label.CityAndDate}
                        </td>
                    </tr>
                </table>
            </div>

            <div style="display: inline-block; width: 100%;">
                <table id="invoiceNumber" style="border-spacing: 0px; float: left;">
                    <tr>
                        <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                            {!$Label.Seller}
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;">
                            <strong>
                                {!sellerAccount.Name}
                            </strong><br/>
                            <apex:outputText rendered="{!sellerAccount.BillingStreet != null}">
                                {!sellerAccount.BillingStreet}
                            </apex:outputText><br/>
                            <apex:outputText rendered="{!sellerAccount.BillingPostalCode != null}">
                                {!sellerAccount.BillingPostalCode},
                            </apex:outputText> 
                            <apex:outputText rendered="{!sellerAccount.BillingCountry != null}">
                                {!sellerAccount.BillingCountry}, 
                            </apex:outputText> 
                            <apex:outputText rendered="{!sellerAccount.BillingCity != null}">
                                {!sellerAccount.BillingCity}<br/>
                            </apex:outputText> 
                            {!$ObjectType.Account.fields.NIP__c.label}: {!sellerAccount.NIP__c}
                        </td>
                    </tr>
                </table>

                <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                    <tr>
                        <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                            {!$Label.Buyer}
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;">
                            <strong>
                                {!customerContact.Name}
                            </strong><br/>
                            <apex:outputText rendered="{!customerContact.MailingStreet != null}">
                                {!customerContact.MailingStreet}<br/>
                            </apex:outputText>
                            <apex:outputText rendered="{!customerContact.MailingPostalCode != null}">
                                {!customerContact.MailingPostalCode},
                            </apex:outputText> 
                            <apex:outputText rendered="{!customerContact.MailingCity != null}">
                                {!customerContact.MailingCity},
                            </apex:outputText>
                            <apex:outputText rendered="{!customerContact.MailingCountry != null}">  
                                {!customerContact.MailingCountry}<br/>
                            </apex:outputText> 
                        </td>
                    </tr>
                </table>
            </div>

            <div style="overflow:hidden;">
                <table id="items-table" style="border-spacing: 0px;">
                    <thead>
                        <th>
                            {!$Label.TableElementNumber}
                        </th>
                        <th style="border-left: 0px;">
                            {!$Label.GoodsServicesName}
                        </th>
                        <th style="border-left: 0px;">
                            {!$Label.NetAdvance}
                        </th>              
                        <th style="border-left: 0px;">
                            {!$ObjectType.Invoice__c.fields.VAT__c.label}
                        </th> 
                        <th style="border-left: 0px;">
                            {!$ObjectType.Invoice__c.fields.VAT_Amount__c.label}
                        </th>                     
                        <th style="border-left: 0px;">
                            {!$ObjectType.Invoice__c.fields.Gross_Value__c.label}
                        </th>                     
                    </thead>
                    <apex:variable value="{!0}" var="num"/>
                    <apex:repeat value="{!paymentDraftList}" var="payment">
                        <apex:variable var="num" value="{!num+1}"/>
                        <tr>
                            <td style="border-left: 1px solid black;">{!num}</td>
                            <td>
                                {!payment.paymentObj.RecordType.Name}<br/>
                            </td> 
                            <td>
                                <apex:outputText value="{!payment.netVal}" />
                                <apex:outputText value=" {!JSENCODE(isoCodeEncoded)}" escape="false"/>
                            </td>
                            <td>         
                                <apex:outputText value="{!invoice.VAT__c}%" />
                            </td>
                            <td>
                                <apex:outputText value="{!payment.vatVal}" />
                                <apex:outputText value=" {!JSENCODE(isoCodeEncoded)}" escape="false"/>
                            </td>
                            <td>
                                <apex:outputText value="{!payment.grossVal}"/>
                                <apex:outputText value=" {!JSENCODE(isoCodeEncoded)}" escape="false"/>
                            </td>


                        </tr>
                    </apex:repeat>
                    <thead>
                        <th style="border: 0px; background-color:white;">
                        </th>
                        <th style="border-left:0px; border-top:0px; border-bottom:0px; background-color:white;">
                        </th>
                        <th style="border-left: 0px; border-top:0px;">
                            {!$Label.EntireAmount}
                        </th>              
                        <th style="border-left: 0px; border-top:0px;">
                            x
                        </th> 
                        <td style="border-left: 0px; border-top:0px; background-color:white;">
                            <apex:outputText value="{!invDraft.vatVal}"/>
                            <apex:outputText value=" {!JSENCODE(isoCodeEncoded)}" escape="false"/>
                        </td>                     
                        <td style="border-left: 0px; border-top:0px; background-color:white;">
                            <apex:outputText value="{!invDraft.grossVal}"/>
                            <apex:outputText value=" {!JSENCODE(isoCodeEncoded)}" escape="false"/>
                        </td>                     
                    </thead>
                </table>
            </div>
            <div style="display: inline-block; width: 100%; overflow:hidden;">
                <table id="invoiceNumber" style="border-spacing: 0px; float: left;">
                    <tr>
                        <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                            {!$Label.InvoiceIssuedBy}
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;">
                        <br/>
                        <br/>
                        </td>
                    </tr>
                </table>

                <table id="invoiceNumber" style="border-spacing: 0px; float: right;">
                    <tr>
                        <td style="background-color: #f2f2f2; text-transform: uppercase; font-family: sans-serif; font-size: 16px;">
                            {!$Label.InvoiceReceivedBy}
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;">
                            <br/>
                            <br/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
    </apex:pageBlock>
    </apex:form> -->
</apex:page>