<apex:page showHeader="true" sidebar="false" standardStylesheets="false" controller="NewProposal" tabStyle="Sales_Process__c">

    <apex:includeScript value="{!$Resource.AngularJS}"/>
    <apex:includeScript value="{!$Resource.AngularAnimateJS}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapTypeAhead, 'ui-bootstrap-custom-0.14.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapTypeAhead, 'ui-bootstrap-custom-tpls-0.14.3.min.js')}"/>   
    <apex:stylesheet value="{!URLFOR($Resource.newProposalCSS)}"/>

    <style type="text/css">
        .loader, .select-loader {
            background-image: url("{!URLFOR($Resource.Ajax_Loader)}");
        }
    </style>

    <script type="text/javascript">
               
        function showPopup(){
            document.getElementById("popup").style.visibility = "visible";
            document.getElementById("popupPanel").style.visibility = "visible";
        }

        function showRejectPopup(){
            document.getElementById("popupReject").style.visibility = "visible";
            document.getElementById("popupPanel").style.visibility = "visible";
        }

        function hidePopup(){
            document.getElementById("popup").style.visibility = "hidden";
            document.getElementById("popup2").style.visibility = "hidden";
            document.getElementById("popupReject").style.visibility = "hidden";
            document.getElementById("popupPanel").style.visibility = "hidden";
            document.getElementById("reasonArea").style.boxShadow = "none"; 
            document.getElementById("popup-stdComp").style.visibility = "hidden";
            document.getElementById("popup-Prom").style.visibility = "hidden";
        }

        function changePopup(){
            document.getElementById("popup").style.visibility = "hidden";
            document.getElementById("popup2").style.visibility = "visible";
        }

        function noReasonProvided(){
            document.getElementById("reasonArea").style.boxShadow = "0px 0px 19px 0px rgba(255,0,0,0.75)"; 
        }


        function noReasonRejectProvided(){
            document.getElementById("reasonRejectArea").style.boxShadow = "0px 0px 19px 0px rgba(255,0,0,0.75)"; 
        }
        
        function chooseStdOfComp(){
            document.getElementById("popup-stdComp").style.visibility = "visible";
            document.getElementById("popupPanel").style.visibility = "visible";
        }

        function chooseProm(){
            document.getElementById("popup-Prom").style.visibility = "visible";
            document.getElementById("popupPanel").style.visibility = "visible";
        }

        function showStDDel(){
            document.getElementById("stdDel").style.visibility = "visible";
        }

        function hideStDDel(){
            document.getElementById("stdDel").style.visibility = "hidden";
        }

        function showPrmDel(){
            document.getElementById("prmDel").style.visibility = "visible";
        }

        function hidePrmDel(){
            document.getElementById("prmDel").style.visibility = "hidden";
        }


        function showRTchange(){
            document.getElementById("popupRT").style.visibility = "visible";
            document.getElementById("popupPanel").style.visibility = "visible";
        }

        function hideRTchange(){
            document.getElementById("popupRT").style.visibility = "hidden";
            document.getElementById("popupPanel").style.visibility = "hidden";
        }
        // function resize_to_fit(additionalheight) {
        //     console.log(document.getElementsByClassName("insertedText"));
        //     var hght = document.getElementsByClassName("popupInside").height();
        //     var hghtTxt = document.getElementsByClassName("insertedText").height();
        //     document.getElementsByClassName("popupInside").style.height = hght + additionalheight;

        //     if(hghtTxt <= hght){
        //         var addheigh = additionalheight * (hght / hghtTxt);
        //         resize_to_fit(addheigh);
        //     }
        // }


        var currencyFilterFunction = function(input) {
            if (input == null) { return ''; }
            var string = input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ").replace('\.', ',');
            var split = string.split(',');
            if (split.length == 2 && split[1].length == 1) {
                string += '0';
            }
            return  string + ' {!currencySymbol}';
        };

        var plainText = function(input){
            if(input != undefined){
                var string = input.toString().replace(/\<br\\?>/g, "\r\n");//.replace(/<[^>]+>/gm, '');
                return  string;
            } else {
                return null;
            }
        };

        var newProposal = angular.module('newProposal', ['ngAnimate', 'ui.bootstrap']);

        newProposal.controller('NewProposal', function($scope, $parse, $window, $q) {   

            $scope.wrappedList = ('{!wrapperListJSON}' != '')? JSON.parse('{!wrapperListJSON}') : null;
            $scope.stdOfCompList = ('{!standardOfCompletionJSON}' != '')? JSON.parse('{!standardOfCompletionJSON}') : null;
            $scope.promotionList = ('{!availablePromotionJSON}' != '')? JSON.parse('{!availablePromotionJSON}') : null;
            $scope.rtList = ('{!rtJSON}' != '')? JSON.parse('{!rtJSON}') : null;
            $scope.chosenRT = {
                Id : '{!rtFlat}'
            };

            // if($scope.rtList != null && $scope.chosenRT.Id == null){
            //      angular.forEach($scope.rtList, function(rt){
            //         if(rt.Id ==  '{!rtFlat}'){
            //            $scope.chosenRT.Id = rt.Id;
            //         }
            //     });
            // };

            // $scope.choosenRT = ;
            if($scope.wrappedList[0].saleLine != null){
                angular.forEach($scope.stdOfCompList, function(std){
                    if(std.Id ==  $scope.wrappedList[0].saleLine.Standard_of_Completion__c){
                       $scope.wrappedList[0].saleLine.Standard_of_Completion__r = std;
                    }
                });
                angular.forEach($scope.promotionList, function(prm){
                    if(prm.Id ==  $scope.wrappedList[0].saleLine.Promotion_Definition__c){
                       $scope.wrappedList[0].saleLine.Promotion_Definition__r = prm;
                    }
                });
            }
            $scope.reasonText = '';
            $scope.reasonReject = '{!rejectedReason}';

            $scope.delLeadZeroes = function(data){
                if(data == 0){
                    data = null;
                }
                return data;
            }

            $scope.countPercent = function(amount, price) {
                var percent = (100 * amount)/price;
                return Number(Math.round(percent+'e2')+'e-2');;
            }   

            $scope.countAmount = function(percent, price) {
                var discount = (price * percent)/100;      
                return Number(Math.round(discount+'e2')+'e-2');
            }

            $scope.saveLines = function() {
                var exceededDisc = false;
                angular.forEach($scope.wrappedList, function(wrap){
                    if(wrap.saleLine != null){                        
                        delete wrap.saleLine.attributes;
                    }
                    delete wrap.resource.attributes;
                    delete wrap.resource.RecordType.attributes;
                    delete wrap.$$hashKey;
                    if(wrap.discount > {!maxDep}){
                        exceededDisc = true;
                    }
                });
                if(exceededDisc == false || $scope.reasonText != ''){
                    // if($scope.optionSelect.statusSelect == '{!statusRejected}' && $scope.reasonReject == '' ){
                        // showRejectPopup();
                    // } else {                
                        // if($scope.select.selectedContact != null &&  $scope.select.selectedContact != ''){
                            $scope.loading = true;
                            // delete $scope.select.selectedContact.attributes;
                            // delete $scope.select.selectedContact.Account.attributes;
                            var stdId = $scope.wrappedList[0].saleLine.Standard_of_Completion__r == undefined ? null : $scope.wrappedList[0].saleLine.Standard_of_Completion__r.Id;
                            var stdPrice = $scope.wrappedList[0].saleLine.Standard_of_Completion__r== undefined ? null : $scope.wrappedList[0].saleLine.Standard_of_Completion__r.Price__c;
                            var promoId = $scope.wrappedList[0].saleLine.Promotion_Definition__r== undefined ? null : $scope.wrappedList[0].saleLine.Promotion_Definition__r.Id;
                            delete $scope.wrappedList[0].saleLine.Standard_of_Completion__r;
                            delete $scope.wrappedList[0].saleLine.Promotion_Definition__r;
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.NewProposal.addLine}', $scope.wrappedList, $scope.reasonText, $scope.reasonReject, stdId, stdPrice, promoId, function(data) {
                                console.log(data);
                                $window.open('/' + data, '_self');
                                $scope.loading = false;
                                $scope.$apply();
                            });
                        // };
                    // }
                } else {
                    showPopup();
                }

            };

           $scope.cancelProposal = function() {
                var retId = $scope.wrappedList[0].mainProcessId;
                $window.open('/' + retId, '_self');
            };

            $scope.hidePop = function(){
                hidePopup();
            }

            $scope.confirmReason = function(){
                if($scope.reasonText != ''){
                    // $scope.optionSelect.statusSelect = '{!statusWaiting}';
                    hidePopup();
                    $scope.saveLines();
                } else {
                    noReasonProvided();
                }
            }

            $scope.confirmRejectReason = function(){
                if($scope.reasonReject != ''){
                    hidePopup();
                    $scope.saveLines();
                } else {
                    noReasonRejectProvided();
                }
            }

            $scope.changePop = function(){
                changePopup();
            }

            $scope.showSTDofCompPopUp = function(){
                chooseStdOfComp();
            }

            $scope.showPromotionPopUp = function(){
                if($scope.wrappedList[0].saleLine != null && $scope.wrappedList[0].saleLine.Promotion_Definition__r != null && $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c != null){                   
                    if($scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c == 'Percentage'){
                        $scope.wrappedList[0].discountAmount -= $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discount = $scope.countPercent($scope.wrappedList[0].discountAmount, $scope.wrappedList[0].resource.Price__c);
                    } else {
                        $scope.wrappedList[0].discount -= $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discountAmount = $scope.countAmount($scope.wrappedList[0].discount, $scope.wrappedList[0].resource.Price__c);   
                    }      
                    if($scope.wrappedList[0].discountAmount < 0){
                        $scope.wrappedList[0].discountAmount = 0;
                        $scope.wrappedList[0].discount = 0;
                    }     
                }
                chooseProm();
            }

            $scope.choosePromotion = function(){
                if($scope.wrappedList[0].saleLine.Promotion_Definition__r != null && $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c != null){
                    if($scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c == 'Percentage'){
                        $scope.wrappedList[0].discountAmount += $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discount = $scope.countPercent($scope.wrappedList[0].discountAmount, $scope.wrappedList[0].resource.Price__c)
                    } else {
                        $scope.wrappedList[0].discount += $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discountAmount = $scope.countAmount($scope.wrappedList[0].discount, $scope.wrappedList[0].resource.Price__c)
                    }           
                }
                hidePopup();
            }

            $scope.chooseSTDofComp = function(){
                hidePopup();
                console.log($scope.wrappedList[0]);
            }

            $scope.chooseSTD = function(){
                angular.forEach($scope.stdOfCompList, function(std){
                    if(std.Id ==  $scope.wrappedList[0].saleLine.Standard_of_Completion__c){
                       $scope.wrappedList[0].saleLine.Standard_of_Completion__r = std;
                    }
                });
            }

            $scope.choosePRM = function(){
                angular.forEach($scope.promotionList, function(prm){
                    if(prm.Id ==  $scope.wrappedList[0].saleLine.Promotion_Definition__c){
                       $scope.wrappedList[0].saleLine.Promotion_Definition__r = prm;
                    }
                });
            }

            $scope.showStDDel = function(){
                if( $scope.wrappedList[0].saleLine.Standard_of_Completion__c != '' && $scope.wrappedList[0].saleLine.Standard_of_Completion__c != null)
                showStDDel();
            }

            
            $scope.hideStDDel = function(){
                hideStDDel();
            }       

            $scope.clearSTD = function(){
                hideStDDel();
                $scope.wrappedList[0].saleLine.Standard_of_Completion__c = '';
                $scope.wrappedList[0].saleLine.Standard_of_Completion__r = null;
            }     

            $scope.showPrmDel = function(){
                if( $scope.wrappedList[0].saleLine.Promotion_Definition__c != '' && $scope.wrappedList[0].saleLine.Promotion_Definition__c != null)
                showPrmDel();
            }

            
            $scope.hidePrmDel = function(){
                hidePrmDel();
            }       

            $scope.showRTchange = function(){
                showRTchange();
            }

            $scope.hideRTchange = function(){
                hideRTchange();
            }   


            $scope.clearPRM = function(){
                if($scope.wrappedList[0].saleLine != null && $scope.wrappedList[0].saleLine.Promotion_Definition__r != null && $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c != null){                   
                    if($scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c == 'Percentage'){
                        $scope.wrappedList[0].discountAmount -= $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discount = $scope.countPercent($scope.wrappedList[0].discountAmount, $scope.wrappedList[0].resource.Price__c);
                    } else {
                        $scope.wrappedList[0].discount -= $scope.wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c;
                        $scope.wrappedList[0].discountAmount = $scope.countAmount($scope.wrappedList[0].discount, $scope.wrappedList[0].resource.Price__c);   
                    }           
                    if($scope.wrappedList[0].discountAmount < 0){
                        $scope.wrappedList[0].discountAmount = 0;
                        $scope.wrappedList[0].discount = 0;
                    }
                }
                hidePrmDel();
                $scope.wrappedList[0].saleLine.Promotion_Definition__c = '';
                $scope.wrappedList[0].saleLine.Promotion_Definition__r = null;
            }    

            $scope.getResources = function(query, investment, chosenRT) {
                    var deferred = $q.defer();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.NewProposal.getResources}', query, investment, chosenRT, function(sobjList){
                    deferred.resolve(sobjList);
                });

                return deferred.promise
            }

            $scope.display = true;
 
        })

        .filter('currencyFilter', function(){
            return currencyFilterFunction;
        })

        .filter('htmlToPlaintext', function() {
            return plainText;
        });






    </script>
    <div class="body" ng-class="{'display-div': display == true}" ng-controller="NewProposal" ng-app="newProposal">
    <form name="myForm">


        <div id="popupPanel">
            <div id="popup" class="popupInside">
                <span class="insertedText">
                    <p id="label-info-msg" style="font-weight: bold; text-align: center;">{!$Label.COCreateApproval}</p>
                    <div style="padding: 15px;">

                        <br/> 
                        <div style="text-align: center; positon: fiexd;  bottom:5%;">
                            <input type="button" ng-click="changePop()" id="confirmBTN" class="clear-button-pop" value="{!$Label.btnYes}"/>
                            <input type="button" ng-click="hidePop()" id="cancelBTN" class="clear-button-pop" value="{!$Label.btnNo}"/>
                        </div>
                    </div>  
                </span>
            </div>
            <div id="popup2" class="popupInside">
                <span class="insertedText">
                    <p id="label-info-msg" style="font-size: 150%; font-weight: bold; text-align: center;">{!$ObjectType.Sales_Process__c.fields.Approve_Reason__c.label}</p>
                    <div style="padding: 10px;">
                        <textarea id="reasonArea" class="data-input-txt" rows="7" placeholder="{!$Label.PlaceholderReason}..." ng-model="reasonText"/>
                        <br/>
                        <br/>
                        <div style="text-align: center; positon: fiexd;  bottom:5%;">
                            <input type="button" ng-click="confirmReason()" class="clear-button-pop" value="{!$Label.Confirm}"/> 
                            <input type="button" ng-click="hidePop()" class="clear-button-pop" value="{!$Label.BtnCancel}"/>
                        </div>
                    </div> 
                </span> 
            </div>
            <div id="popupReject" class="popupInside">
                <span class="insertedText">
                    <p id="label-info-msg" style="font-size: 150%; font-weight: bold; text-align: center;">{!$ObjectType.Sales_Process__c.fields.Rejection_Reason__c.label}</p>
                    <div style="padding: 10px;">
                        <textarea id="reasonRejectArea" class="data-input-txt" rows="7" placeholder="{!$Label.PlaceholderReason}..." ng-model="reasonReject"/>
                        <br/>
                        <br/>
                        <div style="text-align: center; bottom:5%;">
                            <input type="button" ng-click="confirmRejectReason()" class="clear-button-pop" value="{!$Label.Confirm}"/>
                            <input type="button" ng-click="hidePop()" class="clear-button-pop" value="{!$Label.BtnCancel}"/>
                        </div>
                    </div>  
                </span>
            </div>
            <div id="popup-stdComp" class="popupInside">
                <span class="insertedText">
                    <!-- <p id="label-info-msg" style="font-weight: bold; text-align: center;">{!$Label.COCreateApproval}</p> -->
                    <div style="padding: 15px;">
                        <select style="width:100%;" id="picklist-detail" ng-model="wrappedList[0].saleLine.Standard_of_Completion__c" ng-options="item.Id as item.Name for item in stdOfCompList" ng-change="chooseSTD()" />
                        <br/>
                        <span ng-if="wrappedList[0].saleLine.Standard_of_Completion__r">
                        <br/>
                        Price: 
                        <span ng-if="!wrappedList[0].saleLine.Standard_of_Completion__r.Individual__c">
                            {{wrappedList[0].saleLine.Standard_of_Completion__r.Price__c  | currencyFilter}}
                        </span>
                        <span ng-if="wrappedList[0].saleLine.Standard_of_Completion__r.Individual__c">
                            <input type="NUMBER" ng-model="wrappedList[0].saleLine.Standard_of_Completion__r.Price__c"/>
                        </span>
                        <br/>
                        Status:    {{wrappedList[0].saleLine.Standard_of_Completion__r.Status__c}}
                        <br/>
                        Description: {{wrappedList[0].saleLine.Standard_of_Completion__r.Description__c | htmlToPlaintext}}
                            
                        <br/> 
                        </span>
                        <div style="text-align: center; bottom:5%;">
                            <input type="button" ng-click="chooseSTDofComp()" id="confirmBTN" class="clear-button-pop" value="OK"/>
                            <input type="button" ng-click="hidePop()" id="CancelBTN" class="clear-button-pop" value="Cancel"/>
                        </div>
                    </div>  
                </span>
            </div>
            <div id="popup-Prom" class="popupInside">
                <span class="insertedText">
                    <!-- <p id="label-info-msg" style="font-weight: bold; text-align: center;">{!$Label.COCreateApproval}</p> -->
                    <div style="padding: 15px;">   
                        <select style="width:100%;" id="picklist-detail" ng-model="wrappedList[0].saleLine.Promotion_Definition__c" ng-options="item.Id as item.Name for item in promotionList" ng-change="choosePRM()" />
                        <br/>
                        <span ng-if="wrappedList[0].saleLine.Promotion_Definition__r">
                        <br/>
                        Discount: {{wrappedList[0].saleLine.Promotion_Definition__r.Discount_Value__c }}
                        <br/>
                        Discount Type:    {{wrappedList[0].saleLine.Promotion_Definition__r.Discount_Type__c }}
                        <br/>
                        Discount Kind: {{wrappedList[0].saleLine.Promotion_Definition__r.Discount_Kind__c }}
                            
                        <br/> 
                        </span>
                        <div style="text-align: center; bottom:5%;">
                            <input type="button" ng-click="choosePromotion()" id="confirmBTN" class="clear-button-pop" value="OK"/>
                            <input type="button" ng-click="hidePop()" id="CancelBTN" class="clear-button-pop" value="Cancel"/>
                        </div>
                    </div>  
                </span>
            </div>
            <div id="popupRT" class="popupInside">
                <span class="insertedText">
                    <p id="label-info-msg" style="font-size: 150%; font-weight: bold; text-align: center;">{!$Label.Filter}</p>
                    <div style="padding: 10px;">
                        <div ng-repeat="rt in rtList"> 
                            <input type="radio" ng-model='chosenRT.Id' name="rtName" ng-value="rt.Id"> {{rt.Name}}</input><br/>
                        </div>
                        <br/>
                        <br/>
                        <div style="text-align: center; bottom:5%;">
                            <input type="button" ng-click="hideRTchange()" id="confirmBTN" class="clear-button-pop" value="OK"/>
                        </div>
                    </div>  
                </span>
            </div>
        </div>  



        <apex:PageBlock id="proposalBlock">
            <apex:pageBlockButtons location="both" style="text-align: center;">
                <button class="clear-button" ng-disabled="!myForm.input.$valid || !myForm.input1.$valid" ng-click="saveLines()">{!$Label.BtnSave}</button>
                <button class="clear-button" ng-click="cancelProposal()">{!$Label.BtnCancel}</button>
            </apex:pageBlockButtons>
            <div class="loader" ng-if="loading"></div>           

            <table id="main-table">
                <thead>
                    <tr>
                        <th>{!$ObjectType.Resource__c.fields.Name.Label}</th>
                        
                            
                        <th >{!$Label.ResSearchType}</th>
                        <th >{!$ObjectType.Resource__c.fields.Area__c.label}</th>
                        <th >{!$ObjectType.Resource__c.fields.City__c.Label}</th>
                        <th >{!$ObjectType.Resource__c.fields.Investment__c.label}</th>
                        <th >{!$ObjectType.Sales_Process__c.fields.Discount__c.label}</th>
                        <th >{!$ObjectType.Sales_Process__c.fields.Discount_Amount_Offer__c.label}</th>
                        <th >{!$ObjectType.Sales_Process__c.fields.Listing_Price__c.label}</th>                
                        <th ng-if="wrappedList[0].resource.RecordTypeId == '{!rtFlat}' || wrappedList[0].resource.RecordTypeId == '{!rtBuilding}' || wrappedList[0].resource.RecordTypeId ==  '{!rtComPro}'">
                            {!$ObjectType.Sales_Process__c.fields.Standard_of_Completion__c.label}
                        </th>   
                        <th ng-if="wrappedList[0].resource.Id != null">{!$ObjectType.Sales_Process__c.fields.Promotion__c.label}</th>             

                    </tr>
                </thead>
                <tbody ng-repeat="wrap in wrappedList">
                    <tr>
                        <td >
                            <input autocomplete="off" style="width: 80%;" type="text" typeahead-select-on-exact="true" id="referenceInput" class="contact-input" ng-class="{'select-loader': loadingSobject}" ng-model="wrap.resource" typeahead-wait-ms="200" typeahead-loading="loadingSobject" typeahead-no-results="noResult" uib-typeahead="sobject as sobject.Name for sobject in getResources($viewValue, '{!investment}', chosenRT.Id)" typeahead-popup-template-url="customPopupTemplate.html" placeholder="{!$ObjectType.Resource__c.fields.Name.Label}..."/>
                            <img class="confirm-img" ng-if="wrap.resource.Id" src="/img/msg_icons/confirm24.png" ng-required="true" />
                            <span ng-if="noResult">{!$Label.noRecords}</span>
                            <script type="text/ng-template" id="customPopupTemplate.html">
                                <div class="custom-popup-wrapper" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{ !isOpen()}}">
                                    <ul class="dropdown-menu" role="listbox">
                                        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                                            <span>{{match.label}}</span>
                                            <span ng-if="match.model.Price__c && !match.model.Area__c">{!$ObjectType.Resource__c.fields.Price__c.Label} : {{match.model.Price__c}}</span>
                                            <span ng-if="match.model.Price__c && match.model.Area__c">{!$ObjectType.Resource__c.fields.Price__c.Label} : {{match.model.Price__c}}  &nbsp;&nbsp;&nbsp;   {!$ObjectType.Resource__c.fields.Area__c.Label} : {{match.model.Area__c}}</span>
                                            <span ng-if="match.model.Status__c && !match.model.Floor__c">{!$ObjectType.Resource__c.fields.Status__c.Label} : {{match.model.Status__c}}</span>
                                            <span ng-if="match.model.Status__c && match.model.Floor__c">{!$ObjectType.Resource__c.fields.Floor__c.Label} : {{match.model.Floor__c}} &nbsp;&nbsp;&nbsp; {!$ObjectType.Resource__c.fields.Status__c.Label} : {{match.model.Status__c}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </script>
                            <span id="funnel" ng-click="showRTchange()" ng-if="!wrap.resource.Id"> <img src="/resource/funnel"/> </span>
                        </td>    
                        <span ng-if="wrappedList[0].resource.Id != null">
                            
                        <td ng-if="wrappedList[0].resource.Id != null">{{wrap.resource.RecordType.Name}}</td>
                        <td ng-if="wrappedList[0].resource.Id != null">{{wrap.resource.Area__c}}</td>
                        <td ng-if="wrappedList[0].resource.Id != null">{{wrap.resource.City__c}}</td> 
                        <td ng-if="wrappedList[0].resource.Id != null">{!investmentName}</td> 
                        <td class="css-form" ng-if="wrappedList[0].resource.Id != null" style="width: 10%;"><input class="data-input" type="number" name="input1" ng-model="wrap.discount" ng-click="wrap.discount = delLeadZeroes(wrap.discount)" ng-change="wrap.discountAmount = countAmount(wrap.discount, wrap.resource.Price__c)" min="0" step="0.01"/>
                            <span ng-if="!myForm.input1.$valid">{!$Label.InvalidNo}</span>
                        </td> 
                        <td class="css-form" ng-if="wrappedList[0].resource.Id != null" style="width: 10%;"><input class="data-input" type="number" name="input" ng-model="wrap.discountAmount" ng-click="wrap.discountAmount = delLeadZeroes(wrap.discountAmount)" ng-change="wrap.discount = countPercent(wrap.discountAmount, wrap.resource.Price__c)" min="0" step="0.01"/>
                            <span ng-if="!myForm.input.$valid">{!$Label.InvalidNo}</span>
                        </td> 
                        <td ng-if="wrappedList[0].resource.Id != null">
                            <span ng-if="wrap.saleLine.Standard_of_Completion__r.Price__c == null">
                                {{(wrap.resource.Price__c - wrap.discountAmount) | currencyFilter}}
                            </span>
                            <span ng-if="wrap.saleLine.Standard_of_Completion__r.Price__c != null">
                                {{(wrap.resource.Price__c - wrap.discountAmount + wrap.saleLine.Standard_of_Completion__r.Price__c) | currencyFilter}}
                            </span>
                        </td>      
                        <td ng-mouseover="showStDDel()" ng-mouseleave="hideStDDel()" ng-if="wrap.resource.RecordTypeId == '{!rtFlat}' || wrap.resource.RecordTypeId == '{!rtBuilding}' || wrap.resource.RecordTypeId ==  '{!rtComPro}'" style="width: 15%;">
                            <span  ng-if="wrap.saleLine.Standard_of_Completion__r.Id" ng-click="showSTDofCompPopUp()" style="cursor:pointer; display:inline-block;  width: 80% !important;">{{wrap.saleLine.Standard_of_Completion__r.Name}} - {{wrap.saleLine.Standard_of_Completion__r.Price__c | currencyFilter}}
                            </span>
                            <span ng-if="wrap.saleLine.Standard_of_Completion__r.Id == null"><input type="button" ng-click="showSTDofCompPopUp()" class="clear-button-pop" value="Wybierz"/></span>
                            <div style="display:inline;" id="stdDel" ng-click="clearSTD()"> <img src="/resource/DeletePng"/> </div>
                        </td>   
                        <td ng-if="wrappedList[0].resource.Id != null" ng-mouseover="showPrmDel()" ng-mouseleave="hidePrmDel()" style="width: 15%;">
                            <span ng-if="wrap.saleLine.Promotion_Definition__r.Id" ng-click="showPromotionPopUp()" style="cursor:pointer; display:inline-block;  width: 80% !important;">
                                <span ng-if="wrap.saleLine.Promotion_Definition__r.Discount_Kind__c == 'Percentage'">
                                    {{wrap.saleLine.Promotion_Definition__r.Name}} - {{wrap.saleLine.Promotion_Definition__r.Discount_Value__c}} %
                                </span>
                                <span ng-if="wrap.saleLine.Promotion_Definition__r.Discount_Kind__c == 'Amount'">
                                    {{wrap.saleLine.Promotion_Definition__r.Name}} - {{wrap.saleLine.Promotion_Definition__r.Discount_Value__c | currencyFilter}}                       
                                </span>
                            </span>
                            <span ng-if="wrap.saleLine.Promotion_Definition__r.Id == null"><input type="button" ng-click="showPromotionPopUp()" class="clear-button-pop" value="Wybierz"/></span>
                            <div style="display:inline;" id="prmDel" ng-click="clearPRM()"> <img src="/resource/DeletePng"/> </div>
                        </td>                   
                        </span>                    
                    </tr>
                </tbody>
            </table>
        </apex:PageBlock>
        </form>
    </div>  

</apex:page>