<apex:component controller="OfferTemplateController" access="global" language="{!userLanguage}">

<!-- 	<apex:outputText value="{!$Label.Hello} {!emailReceipient.First_and_second_name__c},"/>

	<apex:outputText value="{!$Label.OfferTemplateTextEmail}"/>
	<br/>

	<apex:outputText value="{!userName}"/> -->
    
	<apex:attribute name="userFirstName" description="Current User Name"
                  type="String" assignTo="{!userName}"/>


    <apex:outputText value="{!userFirstName}"/> -->

</apex:component>